trojan://{{urlquery .Password}}@{{.Server}}:{{.Port}}?security={{.Security}}&type={{.Network}}{{if eq .Security "tls"}}&sni={{urlquery .SNI}}&fp={{urlquery .Fingerprint}}{{if .ALPN}}&alpn={{urlquery .ALPN}}{{end}}{{if .Insecure}}&allowInsecure=1{{end}}{{end}}{{if eq .Network "ws"}}&path={{urlquery .Path}}&host={{urlquery .Host}}{{end}}{{if eq .Network "grpc"}}&serviceName={{urlquery .ServiceName}}{{end}}#{{urlquery .Remark}}