vless://{{.UUID}}@{{.Server}}:{{.Port}}?encryption=none&security={{.Security}}&type={{.Network}}{{if .Flow}}&flow={{urlquery .Flow}}{{end}}{{if eq .Security "reality"}}&pbk={{urlquery .PublicKey}}&sid={{.ShortID}}&sni={{urlquery .SNI}}&fp={{urlquery .Fingerprint}}{{if .SpiderX}}&spx={{urlquery .SpiderX}}{{end}}{{end}}{{if eq .Security "tls"}}&sni={{urlquery .SNI}}&fp={{urlquery .Fingerprint}}{{if .ALPN}}&alpn={{urlquery .ALPN}}{{end}}{{if .Insecure}}&allowInsecure=1{{end}}{{end}}{{if eq .Network "ws"}}&path={{urlquery .Path}}&host={{urlquery .Host}}{{end}}{{if eq .Network "grpc"}}&serviceName={{urlquery .ServiceName}}{{end}}#{{urlquery .Remark}}