{"v":"2","ps":{{jsonstr .Remark}},"add":{{jsonstr .Server}},"port":"{{.Port}}","id":{{jsonstr .UUID}},"aid":"0","scy":"auto","net":{{jsonstr .Network}},"type":{{jsonstr .HeaderType}},"host":{{jsonstr .Host}},"path":{{jsonstr .Path}},"tls":{{jsonstr .Security}},"sni":{{jsonstr .SNI}},"alpn":{{jsonstr .ALPN}},"fp":{{jsonstr .Fingerprint}}}