{"v":"2","ps":"{{.Remark}}","add":"{{.Server}}","port":"{{.Port}}","id":"{{.UUID}}","aid":"0","scy":"auto","net":"{{.Network}}","type":"{{.HeaderType}}","host":"{{.Host}}","path":"{{.Path}}","tls":"{{.Security}}","sni":"{{.SNI}}","alpn":"{{.ALPN}}","fp":"{{.Fingerprint}}"}